body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header{
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

nav{
    background-color: #34495e;
    padding: 10px;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover{
    color: yellow;
}

.container{
    padding: 20px;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

table, th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

button{
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
